
.ListInfo {
    max-width: 400px;
    padding: 10px 20px 10px 20px;
    
}

.ListEncabezados {
    padding: 10px 20px 10px 20px;
}

.Box {
    border: 1px solid #afabab;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
}

.title {
    color: #DDDDDD;
    text-align: center;
}